---
layout: default
title: Art | Photography | Science
description: Art and Photography by Ricardo Avila.
featured_image: /images/social.jpg
---

<section class="listing">

	<div class="content-wrap listing-wrap">

		{% for project in site.drawings reversed %}

		<div class="listing-item">

			<a class="listing-item__link" href="{{ project.url | relative_url }}">

				<div class="listing-item__image">
					<img src="{{ project.featured_image | relative_url }}" alt="{{ project.title }}">
				</div>

				<div class="listing-item__content listing-item__content--{{ site.data.settings.grid_settings.content_alignment }}">
					<div class="listing-item__info">
						<h2 class="listing-item__title">{{ project.title }}</h2>
						<p class="listing-item__subtitle">{{ project.subtitle }}</p>
					</div>
				</div>

			</a>

		</div>

		{% endfor %}

	</div>

</section>
