---
layout: blog
title: Blog
description: A blog about art and photography.
featured_image: /images/social.jpg
---

<section class="blog single">

	<div class="wrap-blog">

		{% for post in paginator.posts %}

		<article class="blog-post">

			<div class="blog-post__header" style="margin-bottom: 1em">
				<h2 class="blog-post__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
			</div>

			{% if post.featured_image %}
                        <div class="image-wrap" style="margin: 0 auto;">
                            <a href="{{ post.url | relative_url }}"><img src="{{ post.featured_image | relative_url }}" style="width: 800px;"></a>
                        </div>
			{% endif %}

			<div class="blog-post__content" style="margin-bottom: 4em">
				<p>{{ post.excerpt }}</p>
				<p><a href="{{ post.url | relative_url }}" class="button">Read More</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<a href="{{ paginator.previous_page_path | relative_url }}" class="button button--large pagination__prev{% if paginator.previous_page %} pagination--on{% endif %}"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	<a href="{{ paginator.next_page_path | relative_url }}" class="button button--large pagination__next{% if paginator.next_page %} pagination--on{% endif %}"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>

</section>

{% endif %}
