---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p style="font-size: 1.5em !important;">{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	{{ page.content }}

</section>
