---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.date | date_to_long_string }}</p>

	</div>

</section>

<section class="single">

	{{ page.content }}


<div style="text-align: center; margin-top: 5em; line-height: 4;">
{% if page.next %}
    <a rel="next" href="{{ page.next.url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> Next post: {{ page.next.title }}</a>
{% endif %}

{% if page.previous %}
    <a rel="prev" href="{{ page.previous.url }}" class="button button--large">Previous post: {{ page.previous.title }} <i class="fa fa-angle-right" aria-hidden="true"></i></a>
{% endif %}
</div>

</section>
