---
layout: default
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	{{ page.content }}


<div style="text-align: center;">
{% if page.next %}
    <a rel="next" href="{{ page.next.url }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> Newer</a>
{% endif %}

{% if page.print %}
<a href="{{ page.print }}" class="button button--large"><i class="fas fa-shopping-bag" aria-hidden="true"></i> Buy a print!</a>
{% endif %}

{% if page.previous %}
    <a rel="prev" href="{{ page.previous.url }}" class="button button--large">Older <i class="fa fa-angle-right" aria-hidden="true"></i></a>
{% endif %}

</div>

</section>
